@model ShoppingCartWithAdmin.Areas.Admin.Models.ProductViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/AdminPanelLayout.cshtml";
}
@* check for session if null the login *@
@if (Session["UserName"] == null)
{
    Response.Redirect("~/Admin/Admin/Login");
}
<h2>Product</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            Product Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Category Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>
    <img src="~/Image/@Html.ValueFor(model=>model.ImageURL)" width="200" height="200" />
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = @Model.ProductId }) |
    @Html.ActionLink("Back to Product", "Index")
</p>
