@model IEnumerable<ShoppingCartWithAdmin.Areas.Admin.Models.ProductViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminPanelLayout.cshtml";
}
@* check for session if null the login *@
@if (Session["UserName"] == null)
{
    Response.Redirect("~/Admin/Admin/Login");
}
<h2>Product</h2>

<p>
    @Html.ActionLink("Add", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Category
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th>
            Image
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="~/Image/@item.ImageURL" height="50" width="50" />
            </td>

            

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
            </td>
        </tr>
    }

</table>
